---
http_interactions:
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/equipment-categories/martial-melee-weapons
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1704945595'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"55a-hJtZ3rEEsSq+krgzAelMVlcVBt0"
    body:
      encoding: UTF-8
      string: '{"index":"martial-melee-weapons","name":"Martial Melee Weapons","equipment":[{"index":"battleaxe","name":"Battleaxe","url":"/api/equipment/battleaxe"},{"index":"flail","name":"Flail","url":"/api/equipment/flail"},{"index":"glaive","name":"Glaive","url":"/api/equipment/glaive"},{"index":"greataxe","name":"Greataxe","url":"/api/equipment/greataxe"},{"index":"greatsword","name":"Greatsword","url":"/api/equipment/greatsword"},{"index":"halberd","name":"Halberd","url":"/api/equipment/halberd"},{"index":"lance","name":"Lance","url":"/api/equipment/lance"},{"index":"longsword","name":"Longsword","url":"/api/equipment/longsword"},{"index":"maul","name":"Maul","url":"/api/equipment/maul"},{"index":"morningstar","name":"Morningstar","url":"/api/equipment/morningstar"},{"index":"pike","name":"Pike","url":"/api/equipment/pike"},{"index":"rapier","name":"Rapier","url":"/api/equipment/rapier"},{"index":"scimitar","name":"Scimitar","url":"/api/equipment/scimitar"},{"index":"shortsword","name":"Shortsword","url":"/api/equipment/shortsword"},{"index":"trident","name":"Trident","url":"/api/equipment/trident"},{"index":"war-pick","name":"War
        pick","url":"/api/equipment/war-pick"},{"index":"warhammer","name":"Warhammer","url":"/api/equipment/warhammer"},{"index":"whip","name":"Whip","url":"/api/equipment/whip"}],"url":"/api/equipment-categories/martial-melee-weapons"}'
  recorded_at: Thu, 11 Jan 2024 03:59:54 GMT
recorded_with: VCR 6.2.0
